*{
    margin: 0;
    padding: 0;
}
table{
    border-collapse: separate;
    border-spacing: 0;
}
.box-table{
    overflow-x: auto;
}
.tb-dotteds{
    --button-pad: 16px;
    width: 100%;
    line-height: 120%;
    font-weight: 400;
}
thead{
    height: 50px;
    /* background-color: black;
    color: white; */
}
.dotted-btn{
    display: inline-flex;
    gap: 12px;
}
.button{
    padding: 10px;
    border: 2px solid black;
    border-radius: 15%;
}
tbody tr{
    height: 50px;
}